[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/InfinityLoop1308/PipePipeExtractor.git
	branch = main
[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/itsdinesh/PipePipeClient.git
	branch = dev
[submodule "PipePipe.wiki"]
    path = PipePipe.wiki
    url = https://github.com/InfinityLoop1308/PipePipe.wiki.git
    branch = main